/* Begin Custom Containers */
.container-color {
    &--light-light {
        background-color: $light-light;
    }
    &--white {
        background-color: $light-light;
    }
    &--black {
        background-color: $dark-dark;
    }
    &--opacity {
        &-white {
            background-color: rgba(255, 255, 255, .50);
        }
        &-black {
            background-color: rgba(0, 0, 0, .50);
        }
    }
    &--alternate {
        &:nth-of-type(odd) {
            background-color: $light;
        }
        &:nth-of-type(even) {
            background-color: $white;
        }
    }
}
/* End Custom Containers */